{% extends "layout.html" %} {% block body %}

<ul class=entries>
    <div class="container">
        <div class="d-flex justify-content-center">
            <form action="{{ url_for('cv_helper') }}" method=post class=cv_helper>
                <button type="submit" class="btn btn-primary m-1">Show CV</button>
            </form>
            <form action="{{ url_for('pdf_helper') }}" method=post class=pdf_helper>
                <button type="submit" class="btn btn-secondary m-1">Create pdf</button>
            </form>
        </div>
    </div>
    <ul class="d-flex justify-content-center">
        <p class="font-weight-bold text-uppercase">To save your CV save it as a draft first</p>
    </ul>

    {% for entry in entries %}
    {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
        <div class="form-group m-1">
            <label>Your name</label>
            <input class="form-control" type=text size=30 name="title" value="{{ entry.title }}"
                   placeholder="input your name">
        </div>
        <div class="form-group m-1">
            <label>Contact info</label>
            <input class="form-control" type=text size=30 name="contact" value="{{ entry.contact }}"
                   placeholder="phone number, email, etc">
        </div>
        <div class="form-group m-1">
            <label>Education</label>
            <input class="form-control" type=text size=30 name="education" value="{{ entry.education }}"
                   placeholder="place of your education">
        </div>
        <div class="form-group m-1">
            <label>Skills</label>
            <input class="form-control" type=text size=30 name="skills" value="{{ entry.skills }}"
                   placeholder="some of your skills">
        </div>
        <div class="form-group m-1">
            <label>CV's description</label>
            <input class="form-control" type=text size=30 name="description" value="{{ entry.description|safe }}"
                   placeholder="CV's description">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success m-1">Save Draft</button>
        </div>
    </form>
    {% endif %}
<!--    <div class="d-flex justify-content-center">-->
<!--    <h1>Your draft:</h1>-->
<!--    </div>-->
<!--    <h2>Your name:</h2> {{ entry.title|safe }}-->
<!--    <h2>Contact info:</h2> {{ entry.contact|safe }}-->
<!--    <h2>Education:</h2> {{ entry.education|safe }}-->
<!--    <h2>Skills:</h2> {{ entry.skills|safe }}-->
<!--    <h2>CV's description:</h2> {{ entry.description|safe }}-->
    {% else %}
    {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
        <div class="form-group m-1">
            <label>Your name</label>
            <input class="form-control" type=text size=30 name="title"
                   placeholder="input your name">
        </div>
        <div class="form-group m-1">
            <label>Contact info</label>
            <input class="form-control" type=text size=30 name="contact"
                   placeholder="phone number, email, etc">
        </div>
        <div class="form-group m-1">
            <label>Education</label>
            <input class="form-control" type=text size=30 name="education"
                   placeholder="place of your education">
        </div>
        <div class="form-group m-1">
            <label>Skills</label>
            <input class="form-control" type=text size=30 name="skills"
                   placeholder="some of your skills">
        </div>
        <div class="form-group m-1">
            <label>CV's description</label>
            <input class="form-control" type=text size=30 name="description"
                   placeholder="CV's description">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success m-1">Save Draft</button>
        </div>
    </form>
    {% endif %}
    <li><em>No CV</em>
        {% endfor %}

</ul>

{% endblock %}